<button (click)="closeDialog()" mat-mini-fab color="primary" style="float: left; margin-top: -50px;position: fixed; margin-left:-40px;">X</button>

<mat-progress-bar
                  style="width:100%; margin:0px; height:2px;padding:0px;"
                  *ngIf="!loaded"
                  mode="indeterminate">
                  </mat-progress-bar>

<!--List Starts Here-->
<div fxLayout="row" fxLayoutWrap="wrap" style="margin:20px;">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Race Name</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.RaceTable?.Races">
    {{data?.raceName}}
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
  </div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Winner</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.RaceTable?.Races">
    <div id="name" *ngFor="let x of data?.Results"  style="color:indigo;">
      <div>
        {{x?.Driver?.familyName}} <span> </span>{{x?.Driver?.givenName}}
      </div>
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Nationality</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.RaceTable?.Races">
    <div *ngFor="let x of data?.Results">
    {{x?.Driver?.nationality}}
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Points</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.RaceTable?.Races">
    <div *ngFor="let x of data?.Results">
    {{x?.points}}
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
    <mat-list role="list">
    <h3 mat-subheader>Status</h3>
  <mat-list-item role="listitem" *ngFor="let data of data?.RaceTable?.Races">
    <div *ngFor="let x of data?.Results">
    {{x?.status}}
    </div>
    <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
</div>
</div>